.advantages {
  width: 280px;
}

.advantages__title {
  .oswald-regular();
  .p-reset();
  font-size: 36px;
  line-height: 60px;
  color: @color-black;
  margin: 0 15px 35px 20px;
}

.advantages__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.advantages__item {
  padding: 0px 20px 20px 80px;
}
