.button {
  .oswald-regular();
  max-width: 280px;
  padding: 13px 15px 10px 15px;
  font-size: 14px;
  line-height: 18px;
  color: @color-white;
  background-color: @bg-green;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.button:hover,
.button:focus {
  background-color: @bg-greenhvr;
  outline: none;
}

.button:active {
  color: @color-litewhite;
  outline: none;
}
