.catalog-section__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.catalog-section__item {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  background-color: @bg-lightgray;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @bg-green;
    background-position: 0 0;
    border-radius: 50%;
    opacity: 1.0;
  }

  &--slim::after {
    position: absolute;
    content: "";
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1.0;
  }

  &--pro::after {
    position: absolute;
    content: "";
    top: 35px;
    left: 12px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1.0;
  }
}

.catalog-section__item-title {
  .oswald-regular();
  .p-reset();
  font-size: 24px;
  line-height: 37px;
  margin: 35px 50px 22px 92px;
  color: @color-black;

  text-transform: uppercase;

}

.catalog-section__item-description {
  .p-reset();
  margin: 0 23px 23px 20px;
  padding: 0;
}

.catalog-section__button {
  .oswald-regular();
  display: flex;
  font-size: 16px;
  line-height: 16px;
  width: 240px;
  padding: 20px;
  color: @color-black;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;

  & .catalog-section__button--description {
    margin: 0;
  }

&--arrow {
  margin-left: 13px;
  width: 50px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-repeat: no-repeat;
}
}

.catalog-section__button:hover {
  .catalog-section__button--arrow {
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-repeat: no-repeat;
  }
}


