.catalog-other {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(#ffffff 44px, @bg-green 44px, transparent 48px);
}

.catalog-other__title {
  .oswald-regular();
  margin: 0;
  width: 227px;
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
  padding: 30px 24px 34px 20px;
  background-color: @bg-white;
}

.catalog-other__wrapper {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  border-top: 1px solid #d9d9d9;
}

.catalog-other__list {
  .list-reset();
}

.catalog-other__item {
  //margin-bottom: 14px;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-other__item-name {
  .oswald-regular();
  .p-reset();
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  padding: 13px 0 0 0;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.catalog-other__item-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.catalog-other__item-volume,
.catalog-other__item-price {
  .p-reset();
  font-size: 14px;
  line-height: 14px;
}
