.catalog {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.catalog__title {
  .oswald-regular();
  .p-reset();
  font-size: 36px;
  line-height: 60px;
  color: @color-black;
  padding: 17px 22px 28px 22px;
  margin: 0;
  border-bottom: 1px solid #d9d9d9;
}

.catalog-main {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.catalog-main__list {
  .list-reset();
}

.catalog-main__item {
  .p-reset();
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #d9d9d9;

  &:last-child {
    border-bottom: none;
  }
}

.catalog-main__item-description {
  display: flex;
  justify-content: space-between;

  & a {
    .p-reset();
  }
}

.catalog-main__table-caption {
  .oswald-regular();
  .p-reset();
  font-size: 16px;
  line-height: 20px;
  color: @color-black;
  padding: 23px 0 10px 0;
  margin: 0;
  width: 75px;
  text-transform: uppercase;
}

.catalog-main__table {
  width: 140px;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;

  & caption {
    text-align: left;
  }

  & tbody {
    display: flex;
    flex-direction: column;
  }

  & tr {
    display: flex;
    justify-content: space-between;
  }

  & ~ td {
    .p-reset();
  }
}

.catalog-main__image {
  display: block;
}

.catalog__button {
  width: 280px;
}

.catalog-main__more {
  position: relative;
  display: flex;
  flex-direction: column;
  color: @color-black;
  padding: 81px 20px 23px 20px;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  &::before {
    position: absolute;
    content: "";
    top: 27px;
    left: 145px;
    width: 31px;
    height: 31px;
    background-image: url("../img/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}

.catalog-main__more-show {
  .oswald-regular();
  .p-reset();
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.catalog-main__more-description {
  .p-reset();
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 17px;
}

.catalog-showall__button {
  width: 280px;
  font-size: 16px;
  line-height: 20px;
  color: @color-gray;
  background-color: #f2f2f2;

  &:hover,
  &:focus,
  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active,
  &:active {
    background-color: #ebebeb;
  }
}

.catalog__info-dealer {
  background-color: @bg-lightgray;
}

.catalog-infodealer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
  padding-bottom: 25px;
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 1440px;
    margin: 0 auto;
  }
}
