.catalog-section__list {
  .list-reset();
  display: flex;
  flex-direction: column;
}

.catalog-section__item {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
  background-color: @bg-lightgray;

  &::before {
    position: absolute;
    content: "";
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    background-color: @bg-green;
    background-position: 0 0;
    border-radius: 50%;
    opacity: 1;
  }

  &--slim::after {
    position: absolute;
    content: "";
    top: 22px;
    left: 30px;
    width: 35px;
    height: 49px;
    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
  }

  &--pro::after {
    position: absolute;
    content: "";
    top: 35px;
    left: 12px;
    width: 67px;
    height: 28px;
    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
}

.catalog-section__item-title {
  .oswald-regular();
  .p-reset();
  font-size: 24px;
  line-height: 37px;
  margin: 35px 50px 22px 92px;
  color: @color-black;
  text-transform: uppercase;
}

.catalog-section__item-description {
  .p-reset();
  margin: 0 23px 23px 20px;
  padding: 0;
}

.catalog-section__button {
  .oswald-regular();
  display: flex;
  font-size: 16px;
  line-height: 16px;
  width: 240px;
  padding: 20px;
  color: @color-black;
  text-transform: uppercase;
  border-top: 1px solid #d9d9d9;

  & .catalog-section__button--description {
    position: relative;
    margin: 0;

    &::before { /*стрелка*/
      position: absolute;
      content: "";
      top: 2px;
      right: -48px;
      width: 25px;
      height: 12px;
      background-image: url("../img/icon-right-arrow-long.svg");
      background-size: 25px 12px;
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.catalog-section__button:hover {
  .catalog-section__button--description::before { /*стрелка*/
    position: absolute;
    content: "";
    top: 2px;
    right: -57px;
    width: 34px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
    background-size: 34px 12px;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .catalog-section__item {
    margin-bottom: 25px;
    padding: 75px 275px 32px 47px;
    width: 376px;

    &::before {
      top: 92px;
      left: unset;
      right: 57px;
      width: 200px;
      height: 200px;
    }

    &--slim::after {
      top: 80px;
      left: unset;
      right: 87px;
      width: 141px;
      height: 194px;
    }

    &--pro::after {
      top: 135px;
      left: unset;
      right: 23px;
      width: 268px;
      height: 113px;
    }
  }

  .catalog-section__item-title {
    font-size: 36px;
    line-height: 37px;
    margin: 0;
    margin-bottom: 25px;
  }

  .catalog-section__item-description {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 30px 0;
  }

  .catalog-section__item-description--pro {
    margin-right: 35px;
  }

  .catalog-section__button {
    font-size: 20px;
    line-height: 20px;
    width: 240px;
    padding: 28px 0 32px 0;
    border: 0;

    & .catalog-section__button--description {
      margin: 0;
    }
  }
}
