.example {
  background-color: @bg-lightgray;
  padding-bottom: 33px;
  //border: 1px solid green;
}

.example__wrapper {
  padding: 0 20px;
  margin-bottom: 35px;
}

.example__title {
  .oswald-regular();
  .p-reset();
  font-size: 36px;
  line-height: 60px;
  color: @color-black;
  margin-top: 14px;
  margin-bottom: 25px;
}

.example__discription {
  padding-right: 10px;
  margin-bottom: 25px;
}

.example__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__options {
  .oswald-regular();
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
  width: 124px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 16px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
}

.example__options-description {
  .p-reset();
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  width: 54px;
  margin: 0 auto;
  margin-top: -15px;
  text-align: center;
  padding: 5px 17px 5px 16px;
  background-color: @bg-lightgray;
}

.example__priсe {
  .oswald-regular();
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
    padding: 0 30px;
    padding-bottom: 75px;
    background-image: linear-gradient(to top, transparent 650px, #eaeaea 650px, transparent 652px);
    background-position: 0 190px;
    background-repeat: no-repeat;
  }

  .example__wrapper {
    padding: 0;
    margin-bottom: 55px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 13px;
    margin-bottom: 65px;
  }

  .example__discription {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    margin-bottom: 53px;
  }

  .example__data {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-bottom: 50px;
  }

  .example__list {
    width: 366px;
  }

  .example__options {
    width: 160px;
    font-size: 30px;
    line-height: 37px;
    padding-top: 16px;
    padding-bottom: 18px;
  }

  .example__options-description {
    font-size: 14px;
    line-height: 14px;
    width: 130px;
    margin-top: -20px;
    padding: 8px;
    background-color: @bg-white;
  }

  .example__priсe {
    width: 180px;
    margin: 0;
    padding-top: 5px;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    background-image: linear-gradient(to top, transparent 700px, #eaeaea 700px, transparent 652px);
    background-position: 0 190px;
    background-repeat: no-repeat;
  }

  .example__wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .example__title {
    margin-top: 55px;
    margin-bottom: 147px;
    padding-left: 110px;
  }

  .example__discription {
    width: 433px;
    margin-left: 112px;
    margin-bottom: 68px;
  }

  .example__data {
    flex-direction: column;
    //width: auto;
    //margin-bottom: 50px;
  }

  .example__list {
    margin-left: 110px;
    margin-bottom: 50px;
  }

  .example__options-description {
    background-color: @bg-lightgray;
  }

  .example__priсe {
    width: 355px;
    margin-left: 110px;
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;

    & span {
      padding-left: 60px;
    }
  }

  //.example__slider {
  //  width: 50%;
  //}
}
