.example__wrapper {
  background-color: @bg-lightgray;
  padding: 30px 20px;
}

.example__title {
  .oswald-regular();
  .p-reset();
  font-size: 36px;
  line-height: 60px;
  color: @color-black;
}

.example__list {
  .list-reset();
  display: flex;
  justify-content: space-between;
}

.example__item {
  display: flex;
  flex-direction: column;
}

.example__options {
  .oswald-regular();
  font-size: 24px;
  line-height: 24px;
  color: @color-black;
  width: 124px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #cdcdcd;
  text-transform: uppercase;
}

.example__options-description {
  .p-reset();
  font-size: 12px;
  line-height: 12px;
  font-style: normal;
  width: 54px;
  margin: 0 auto;
  margin-top: -15px;
  text-align: center;
  padding: 5px 17px 5px 16px;
  background-color: @bg-lightgray;
}

.example__priсe {
  .oswald-regular();
  margin-top: 20px;
  margin-bottom: 44px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
