.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.form__title {
  .oswald-regular();
  .p-reset();
  font-size: 36px;
  line-height: 60px;
  color: @color-black;
  padding: 17px 20px 0 20px;
  margin: 0;
}

.form__title-description {
  .oswald-regular();
  .p-reset();
  color: @color-black;
  padding: 23px 20px 40px 20px;
  margin: 0;
  width: 230px;
  text-transform: uppercase;
}
