.info-dealer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.info-dealer__appeal {
  .oswald-regular();
  width: 125px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.info-dealer__address {
  width: 135px;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
