.info-dealer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 20px;
  padding-bottom: 25px;
}

.info-dealer__appeal {
  .oswald-regular();
  width: 125px;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.info-dealer__address {
  margin: 0;
  padding: 0;
  width: 135px;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .info-dealer__appeal {
    .oswald-regular();
    width: 170px;
    font-size: 20px;
    line-height: 25px;
    padding: 35px 50px 35px 50px;
  }

  .info-dealer__address {
    width: 155px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-right: 55px;

    & span {
      display: block;
      margin-top: 20px;
    }
  }
}

@media (min-width: @desktop-width) {
   .info-dealer__wrapper {
    width: 404px;
    margin: 95px 0 104px 110px;
    padding: 62px 90px 55px 76px;
    border: 1px solid red; /*временно*/
  }

  .info-dealer__appeal {
    width: 155px;
    padding: 0;
  }

  .info-dealer__address {
    width: 157px;
    text-align: left;
    margin: 0;
    padding: 0;

    & span {
      display: block;
      margin-top: 20px;
    }
  }
}
