.main-nav__wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__list {
  .list-reset();
  align-items: center;
}

.main-nav__togle {
  background-color: transparent;
  border: 0;
  align-items: center;
}
