.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: @bg-lightgray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo {
  display: flex;
  align-items: center;
  min-height: 93px;
  justify-content: center;
}


@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
    padding: 30px 0;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    min-height: 95px;
    justify-content: center;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 78px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    //margin-top: 100px;
    background-color: transparent; /*временно*/
  }

  .page-footer__wrapper {
    margin: 0;
    width: 1220px;
    padding: 0 110px;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  }
