.page-footer {
  width: 320px;
  margin: 0 auto;
  //background-color: @bg-lightgray;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  //align-content: center;
  width: 280px;
  margin: 0 auto;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  //align-content: center;
  padding-top: 15px;
  padding-bottom: 12px;
}

.page-footer__logo-image {
  &:hover,
  &:focus {
    display: block;
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    width: 768px;
  }

  .page-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 708px;
    padding: 30px 0;
  }

  .page-footer__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    width: 1440px;
    //margin-top: 100px;
    background-color: transparent; /*временно*/
  }

  .page-footer__wrapper {
    margin: 0;
    width: 1220px;
    padding: 33px 110px;
  }

  }
