.program-selection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
  min-height: 480px;
  margin-bottom: 22px;
  border-top: 1px solid #e7e7e7;
}

@media (max-width: @mobil-width) {
  .program-selection::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 320px;
    height: 305px;
    background-color: #63a73a;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-size: 320px auto;
    }
  }


  .program-selection::after {
    position: absolute;
    content: "";
    top: 167px;
    right: 20px;
    width: 280px;
    height: 271px;
    background-image: url("../img/index-can-mobile@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-mobile@1x.png");
      background-size: 280px auto;
    }
  }
}

.program-selection__title {
  .oswald-regular();
  .p-reset();
  font-size: 36px;
  line-height: 36px;
  margin: 27px 15px 25px 15px;
  padding: 0;
  color: @color-white;
  text-align: center;
}

.program-selection__slogan {
  .oswald-regular();
  .p-reset();
  font-size: 14px;
  line-height: 14px;
  color: @color-white;
  text-transform: uppercase;
  text-align: center;
}

.program-selection__button {
  min-width: 250px;
  margin-top: auto;
}

@media (min-width: @tablet-width) {
  .program-selection {
    align-items: flex-start;
    width: 708px;
    margin: 0 120px;
    background-image: none;
    background-repeat: no-repeat;
    min-height: 840px;
    border: 0;
  }

  .program-selection::after {
    position: absolute;
    content: "";
    top: 230px;
    right: 90px;
    width: 709px;
    height: 609px;
    background-image: url("../img/index-can-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  .program-selection__title {
    width: 485px;
    font-size: 60px;
    line-height: 60px;
    margin: 30px 15px 43px 0;
    color: @color-black;
    text-align: left;
  }

  .program-selection__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
    text-align: left;
    margin-bottom: 48px;
  }

  .program-selection__button {
    margin-top: 0;
    min-width: 200px;
  }
}

@media (min-width: @desktop-width) {
  .program-selection {
    width: 415px;
    margin: 0;
    margin-bottom: 80px;
    padding-left: 190px;
    background-image: none;
    min-height: 473px;
    border: 0;
  }

  .program-selection::before {
    position: absolute;
    content: "";
    top: -223px;
    left: 720px;
    width: 720px;
    height: 696px;
    background-color: @bg-green;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -2;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-size: 720px auto;
    }
  }

  .program-selection::after {
    position: absolute;
    content: "";
    top: -80px;
    left: 560px;
    width: 552px;
    height: 499px;
    background-image: url("../img/index-can-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: -1;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/img/index-can-desktop@2x.png");
      background-size: 552px auto;
    }
  }

  .program-selection__title {
    width: 415px;
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 40px 0;
    color: @color-black;
    text-align: left;
  }

  .program-selection__slogan {
    font-size: 20px;
    line-height: 20px;
    color: @color-black;
  }
}
